<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752732977062-bbqnr17qa7iujf1sab0dau7dvk33hm77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752732977062-bbqnr17qa7iujf1sab0dau7dvk33hm77</string>
	<key>API_KEY</key>
	<string>AIzaSyDTmj-gh4USh4aZm3cEyQCreGBr_6D6L04</string>
	<key>GCM_SENDER_ID</key>
	<string>752732977062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.validdesign</string>
	<key>PROJECT_ID</key>
	<string>new-project-flutter-d38f1</string>
	<key>STORAGE_BUCKET</key>
	<string>new-project-flutter-d38f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752732977062:ios:3cbad2dc88c0e05b670167</string>
</dict>
</plist>